<footer id="footer">

  <div class="footer-bottom">
    <div class="container-fluid custom-container">
      <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <ul>
            <li><a onclick="topFunction()" routerLink='/privacy-policy'>Privacy Policy</a></li>
            <li><a onclick="topFunction()" routerLink='/terms-and-conditions'>Terms & conditions </a></li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 clearfix">
          <div class="">
            <span class="copy">© 2018. All rights reserved. <span class="white" style="color:#cc0000;font-size:18px;">Sell4Bids</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
