
<!-- <div *ngIf="showSpinner" class="app-preloader" >
    <app-loading-spinner ></app-loading-spinner>
</div> -->
<div id="content-block" style="min-height: 600px; margin-top:0;margin-bottom:40px">

  <div class="s_keywords" style="margin-bottom:8px;"></div>

  <!--<div class="container-fluid custom-container">-->
    <!--<button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>-->
   <!--<a class="btn color-1 size-3 hover-10"><i class="fa fa-trash-o"></i>Acessories</a> -->
    <!--<ol class="breadcrumb">-->
      <!--<li class="breadcrumb-item"><a routerLink='/' style="color:#777;font-size:16px !important"><i class="fa fa-home"></i> Home</a>-->
      <!--</li>-->
      <!--<li class="breadcrumb-item active">Products-->
      <!--</li>-->
      <!--<li class="breadcrumb-item active">Search-->
      <!--</li>-->
      <!--<li class="breadcrumb-item active">{{search}}-->
      <!--</li>-->
    <!--</ol>-->
  <!--</div>-->
  <div class="container-fluid custom-container">
    <div class="row">
      <!--sidebar-->
      <!--<div class="col-lg-2 col-md-3 col-sm-4 left-feild">-->
        <!--<app-sidebar></app-sidebar>-->
      <!--</div>-->
    <!--endsidebar-->
      <div class="col-md-12 col-sm-12 pd-0-1024">
        <!-- routerLink='/item'  -->
        <ng-container *ngFor="let category of models;let ind=index" >
            <div *ngIf="category.image0 && category.title" (click)=single(category.title,category.category,category.auctionType,category.state,category.productId,category.uid) class="col-lg-4 col-md-4 col-sm-4 animated fadeIn" style="padding:0 5px;">
              <div class="be-post">
                <a class="be-img-block">
                  <img src="{{category.image0}}" alt="..." >
                </a>
                <a class="be-post-title" style="font-weight:bolder;">{{category.title}}</a>
                <span>
                  <a class="be-post-tag" > {{category.description}}</a>
                </span>
                <div class="item-btn ">
                  <div class="pull-left">
                    <button *ngIf="category.auctionType=='buy-it-now' && category.category =='Jobs'" class="btn btn-next" >Apply Now</button>
                    <button *ngIf="category.quantity >= 1 && (category.auctionType=='buy-it-now' &&category.category != 'Jobs')" class="btn btn-next" >Buy Now</button>
                    <button *ngIf="category.quantity == 0 && (category.auctionType=='buy-it-now' && category.category != 'Jobs')" class="btn btn-previous" >Sold</button>
                    <button *ngIf="category.auctionType=='reserve' || category.auctionType=='non-reserve'"  class="btn btn-alert">Bid Now</button>
                  </div>
                  <div class="pull-right">
                      <span style="color:#e74c3c; font-weight:bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">${{category.startPrice}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix" *ngIf="(ind + 1) % 3 == 0"></div>
            </div>
          </ng-container>
        <div class="clearfix"></div>
        <div *ngIf="models.length == 0 && !showSpinner" class="no-record text-center">
          <i class="fa fa-exclamation-triangle" style="font-size:40px"></i>
          <h1>No Record Found!</h1>
        </div>
        <div *ngIf="models.length >= 15 && !showSpinner" class="text-center loadmore-holder" style="font-size:20px">
          <button class="btn btn-next load-more load-more-btn" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            (click)="onScroll()">
            <i style="margin-right: 0 !important;" class="fa fa-plus"></i>
          </button><br>
          SHOW MORE
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Download the free Sell4Bids app</h4>
        </div>
        <div class="modal-body text-center">
          <a href="https://play.google.com/store/apps/details?id=com.usman.brainplow.sell4bids&hl=en" target="_blank" ><img style="height:50px;margin:10px 0 0 10px" src="assets/img/googleplayx233.png"></a>
          <a  href="https://itunes.apple.com/us/app/sell4bids/id1304176306?mt=8" target="_blank" >
          <img style="height:50px;margin:10px 0 0 10px" src="assets/img/appstorex233.png">
          </a>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

