.load-more-btn{
    background: #0a0a0a !important;
    padding: 0 !important;
    margin: 0;
    width: 70px;
    height: 70px !important;
    border-radius: 50%;
    text-align: center;
    min-width: auto;
}
