<div id="content-block" style="margin-top:0px; margin-bottom:0px;">
    <div class="container">
        <div class="about-description">
            <img class="img-responsive" src="assets/img/about.jpg" alt>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="about-text" style="color:gray;">
                        <p id="para2">
                            Sell4Bids is a bleeding edge web and mobile marketplace for Buying, Selling and Bidding on Stuff. Sell4Bids makes the overall
                            trading and bidding process easier and quicker, so you can enjoy a secure, qualitative and affordable
                            buying and auction experience with a few taps or clicks. For Sellers, Buyers and Bidders, Sell4Bids
                            provides a fast, convenient and artifically intelligent online marketplace. Sell4Bids users save
                            time, money and energy on marketing, buying, selling and bidding on stuff through a cool n' easy
                            Mobile and Web App.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="info-blocks" style="background-color:#FFF !important">
                <div class="info-entry left table-block">
                    <div class="row sh-about-fix">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive img-full" src="assets/img/WhoAreWe/Build-your-own-brand.png" alt>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="info-text">
                                <h4>Build your Own Brand </h4>
                                <p class="para" id="para1">
                                    Non-stop free product posting with the same profile, makes your business a brand. You can set the standard and customized
                                    products. Sell4Bids boosts your brand niche among your target customers. </p>

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="info-text">
                                <h4>High- level Community Setup </h4>
                                <p class="para" id="para1">
                                    Sell4Bids makes interaction easier than ever before. Now, you can effortlessly build customer relationships with our community
                                    set up. You can chat with bidder from anywhere around the globe. Now, discuss the trading
                                    process in detail without wasting a bunch of hours. Bid, Buy, Sell, Shop and repeat at
                                    our inclusive and accessible commerce platform. </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive img-full" src="assets/img/WhoAreWe/HighlevelCommunitySetup.png" alt>
                        </div>
                    </div>
                </div>

                <div class="info-entry right table-block">
                    <div class="row sh-about-fix">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive img-full" src="assets/img/WhoAreWe/Peerless-Buying-and-Selling-Experience.png" alt>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="info-text">
                                <h4>Peerless Buying and Selling Experience</h4>
                                <p class="para" id="para1">
                                    Sell4Bids makes interaction easier than ever before. Now, you can effortlessly build customer relationships with our community
                                    set up. You can chat with bidder from anywhere around the globe. Now, discuss the trading
                                    process in detail without wasting a bunch of hours. Bid, Buy, Sell, Shop and repeat at
                                    our inclusive and accessible commerce platform.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="info-text">
                                <h4>Innovate Your Business</h4>
                                <p class="para" id="para1">
                                    Sell4Bids drove multi-dollars growth by enabling you to target the right person at the right place. We help you to get potential
                                    customers for your business and boost your sales. Sell4Bids takes Buying & Selling experience
                                    to a whole new level. Now, place your customized products with a single click and the
                                    peerless thing is that there is NO HIDDEN PLACEMENT COST. From selling products to promoting
                                    your business for growth, Sell4Bids is the Simple, powerful, All in One and effective
                                    solution for whatever you need. With Sell4Bids, place your auctions; advertise your business;
                                    get in touch with millions of buyers and sellers around the world; grab target customers
                                    against your bids and win the price of your choice. Fast, Easy, Cool. Sells4Bids brings
                                    the Online Auction Experience to you like NEVER BEFORE! Find everything on The Sell4Bids
                                    Marketplace: Stuff. Services. Jobs. Offers. Counter-Offers. Auctions & Bidding. Listing
                                    your Jobs & Auctioning on Sell4Bids is as easy as taking a Selfie! From our Proprietary
                                    AI to Reviews Crunching to a Custom Sell4Bids Score for Every Buyer/Seller & a whole
                                    lot more, Sell4Bids elevates your Mobile E-Commerce Experience to a whole new level.
                                    Auction with a ROAR
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive img-full" src="assets/img/WhoAreWe/Innovate-Your-Business.png" alt>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">

            <div class="clients-block">
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                    </div>


                </div>
            </div>
        </div>
    </div>