<div class="wrapper-simple-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="simple-footer">
          <ul>
            <li><a  routerLink='/who-are-we'> Who are we</a></li>
            <li><a  routerLink='/terms-and-conditions'>Terms of Service</a></li>
            <li><a routerLink='/privacy-policy'>Privacy Policy</a></li>
            <li><a href="https://itunes.apple.com/us/app/sell4bids/id1304176306?mt=8" target="_blank" >iPhone App</a></li>
            <li><a  href="https://play.google.com/store/apps/details?id=com.usman.brainplow.sell4bids&hl=en" target="_blank">Android App</a></li>
            <li><a routerLink='/members'>Members</a></li>
            <li><a routerLink='/how-it-works'>How it works?</a></li>
            <li><a routerLink='/trust-and-safety'>Trust & Safety</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
